<nav class="sidebar sidebar-offcanvas" id="sidebar">
	<div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
		<a class="sidebar-brand brand-logo" href="/admin/dashboard"><img src="/img/logo.png" alt="logo"
				style="height:40px!important;" /></a>
		<a class="sidebar-brand brand-logo-mini" href="/admin/dashboard"><img th:src="@{/img/logo-mini.png}"
				alt="logo" /></a>
	</div>
	<ul class="nav">
		<li class="nav-item profile">
			<div class="profile-desc">
				<div class="profile-pic">
					<div class="count-indicator">
						<img class="img-xs rounded-circle" th:src="${account.avatar}" th:alt="${account.username}">
						<span class="count bg-success"></span>
					</div>
					<div class="profile-name">
						<h5 class="mb-0 font-weight-normal">[[${account.username}]]</h5>
						<span>[[${account.role.acc_role_name}]]</span>
					</div>
				</div>
				<a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
				<div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list"
					aria-labelledby="profile-dropdown">
					<a href="#" class="dropdown-item preview-item">
						<div class="preview-thumbnail">
							<div class="preview-icon bg-dark rounded-circle">
								<i class="mdi mdi-settings text-primary"></i>
							</div>
						</div>
						<div class="preview-item-content">
							<p class="preview-subject ellipsis mb-1 text-small">Account settings</p>
						</div>
					</a>
					<div class="dropdown-divider"></div>
					<a href="#" class="dropdown-item preview-item">
						<div class="preview-thumbnail">
							<div class="preview-icon bg-dark rounded-circle">
								<i class="mdi mdi-onepassword  text-info"></i>
							</div>
						</div>
						<div class="preview-item-content">
							<p class="preview-subject ellipsis mb-1 text-small">Change Password</p>
						</div>
					</a>
					<div class="dropdown-divider"></div>
					<a href="#" class="dropdown-item preview-item">
						<div class="preview-thumbnail">
							<div class="preview-icon bg-dark rounded-circle">
								<i class="mdi mdi-calendar-today text-success"></i>
							</div>
						</div>
						<div class="preview-item-content">
							<p class="preview-subject ellipsis mb-1 text-small">To-do list</p>
						</div>
					</a>
				</div>
			</div>
		</li>
		<li class="nav-item nav-category">
			<span class="nav-link">Navigation</span>
		</li>
		<li class="nav-item menu-items">
			<a class="nav-link" href="/admin/dashboard">
				<span class="menu-icon">
					<i class="mdi mdi-speedometer"></i>
				</span>
				<span class="menu-title">Dashboard</span>
			</a>
		</li>
		<li class="nav-item menu-items">
			<a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
				<span class="menu-icon">
					<i class="mdi mdi-laptop"></i>
				</span>
				<span class="menu-title">Forms</span>
				<i class="menu-arrow"></i>
			</a>
			<div class="collapse" id="ui-basic">
				<ul class="nav flex-column sub-menu">
					<li class="nav-item"> <a class="nav-link" href="/admin/account-form">Account Form</a></li>
					<li class="nav-item"> <a class="nav-link" href="/admin/movie-form">Movie Form</a></li>
					<li class="nav-item"> <a class="nav-link" href="/admin/movie-ep-form">Movie_episode Form</a></li>
					<li class="nav-item"> <a class="nav-link" href="/admin/notification-movie-form">Notification_movie
							Form</a></li>
				</ul>
			</div>
		</li>
		<li class="nav-item menu-items">
			<a class="nav-link" data-toggle="collapse" href="#ui-basicc" aria-expanded="false"
				aria-controls="ui-basicc">
				<span class="menu-icon">
					<i class="fa-solid fa-table"></i>
				</span>
				<span class="menu-title">Tables</span>
				<i class="menu-arrow"></i>
			</a>
			<div class="collapse" id="ui-basicc">
				<ul class="nav flex-column sub-menu">
					<li class="nav-item"> <a class="nav-link" href="/admin/account-table">Account Table</a></li>
					<li class="nav-item"> <a class="nav-link" href="/admin/movie-table">Movie Table</a>
					</li>
					<li class="nav-item"> <a class="nav-link" href="/admin/movie-ep-table">Movie_episode Table</a>
					</li>
					<li class="nav-item"> <a class="nav-link" href="/admin/transaction-history-table">Transaction
							History Table</a>
					</li>
					<li class="nav-item"> <a class="nav-link" href="/admin/authorize-table">Authorize Table</a></li>
				</ul>
			</div>
		</li>
		<li class="nav-item menu-items">
			<a class="nav-link" data-toggle="collapse" href="#ui-basiccc" aria-expanded="false"
				aria-controls="ui-basicc">
				<span class="menu-icon">
					<i class="mdi mdi-chart-bar"></i>
				</span>
				<span class="menu-title">Charts</span>
				<i class="menu-arrow"></i>
			</a>
			<div class="collapse" id="ui-basiccc">
				<ul class="nav flex-column sub-menu">
					<li class="nav-item"> <a class="nav-link" href="/admin/revenue-chart">Revenue Chart</a></li>
					<li class="nav-item"> <a class="nav-link" href="/admin/sales-chart">Sales Chart</a></li>
					<li class="nav-item"> <a class="nav-link" href="/admin/purchase-chart">Purchase Chart</a></li>
				</ul>
			</div>
		</li>
	</ul>

	<!-- -->
	<div class="cat">
		<div class="ear ear--left"></div>
		<div class="ear ear--right"></div>
		<div class="face">
			<div class="eye eye--left">
				<div class="eye-pupil"></div>
			</div>
			<div class="eye eye--right">
				<div class="eye-pupil"></div>
			</div>
			<div class="muzzle"></div>
		</div>
	</div>
</nav>

<nav class="navbar p-0 fixed-top d-flex flex-row">
	<div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
		<a class="navbar-brand brand-logo-mini" href="/admin/dashboard"><img th:src="@{/img/logo-mini.png}"
				alt="logo" /></a>
	</div>
	<div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
		<button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
			<span class="mdi mdi-menu"></span>
		</button>

		<ul class="navbar-nav navbar-nav-right d-flex" style="gap: 10px;">
			<li class="nav-item dropdown d-none d-lg-block">
				<a class="nav-link btn btn-success create-new-button m-0" id="createbuttonDropdown" data-toggle="dropdown"
					aria-expanded="false" href="#">+ Create Form</a>
				<div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
					aria-labelledby="createbuttonDropdown">
					<h6 class="p-3 mb-0">Forms</h6>
					<div class="dropdown-divider"></div>
					<a href="/admin/account-form" class="dropdown-item preview-item">
						<div class="preview-thumbnail">
							<div class="preview-icon bg-dark rounded-circle">
								<i class="mdi mdi-account text-primary"></i>
							</div>
						</div>
						<div href="/admin/account-form" class="preview-item-content">
							<p class="preview-subject ellipsis mb-1">Account</p>
						</div>
					</a>
					<div class="dropdown-divider"></div>
					<a href="/admin/movie-form" class="dropdown-item preview-item">
						<div class="preview-thumbnail">
							<div class="preview-icon bg-dark rounded-circle">
								<i class="mdi mdi-movie text-info"></i>
							</div>
						</div>
						<div class="preview-item-content">
							<p class="preview-subject ellipsis mb-1">Movie</p>
						</div>
					</a>
					<div class="dropdown-divider"></div>
					<a href="/admin/movie-ep-form" class="dropdown-item preview-item">
						<div class="preview-thumbnail">
							<div class="preview-icon bg-dark rounded-circle">
								<i class="mdi mdi-movie-roll text-danger"></i>
							</div>
						</div>
						<div class="preview-item-content">
							<p class="preview-subject ellipsis mb-1">Movie Episode</p>
						</div>
					</a>
				</div>
			</li>
			<li class="nav-item dropdown d-none d-lg-block">
					<a class="nav-link btn btn-warning create-new-button m-0" id="createbuttonDropdown"
						data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-eye" style="font-size: 15px;"></i> View Table</a>
					<div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
						aria-labelledby="createbuttonDropdown">
						<h6 class="p-3 mb-0">Tables</h6>
						<div class="dropdown-divider"></div>
						<a href="/admin/account-table" class="dropdown-item preview-item m-0">
							<div class="preview-thumbnail">
								<div class="preview-icon bg-dark rounded-circle">
									<i class="mdi mdi-account text-primary"></i>
								</div>
							</div>
							<div href="/admin/account-table" class="preview-item-content">
								<p class="preview-subject ellipsis mb-1">Account</p>
							</div>
						</a>
						<div class="dropdown-divider"></div>
						<a href="/admin/movie-table" class="dropdown-item preview-item m-0">
							<div class="preview-thumbnail">
								<div class="preview-icon bg-dark rounded-circle">
									<i class="mdi mdi-movie text-info"></i>
								</div>
							</div>
							<div class="preview-item-content">
								<p class="preview-subject ellipsis mb-1">Movie</p>
							</div>
						</a>
						<div class="dropdown-divider"></div>
						<a href="/admin/movie-ep-table" class="dropdown-item preview-item m-0">
							<div class="preview-thumbnail">
								<div class="preview-icon bg-dark rounded-circle">
									<i class="mdi mdi-movie-roll text-danger"></i>
								</div>
							</div>
							<div class="preview-item-content">
								<p class="preview-subject ellipsis mb-1">Movie Episode</p>
							</div>
						</a>
					</div>
				</li>
				
				<li class="nav-item dropdown d-none d-lg-block">
					<a class="nav-link btn btn-danger create-new-button m-0" id="createbuttonDropdown"
						data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-chart-line" style="font-size: 15px;"></i> Statistical</a>
					<div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
						aria-labelledby="createbuttonDropdown">
						<h6 class="p-3 mb-0">Charts</h6>
						<div class="dropdown-divider"></div>
						<a href="/admin/revenue-chart" class="dropdown-item preview-item m-0">
							<div class="preview-thumbnail">
								<div class="preview-icon bg-dark rounded-circle">
									<i class="mdi mdi-chart-line text-primary"></i>
								</div>
							</div>
							<div class="preview-item-content">
								<p class="preview-subject ellipsis mb-1">Revenue</p>
							</div>
						</a>
						<div class="dropdown-divider"></div>
						<a href="/admin/sales-chart" class="dropdown-item preview-item m-0">
							<div class="preview-thumbnail">
								<div class="preview-icon bg-dark rounded-circle">
									<i class="mdi mdi-chart-bar text-info"></i>
								</div>
							</div>
							<div class="preview-item-content">
								<p class="preview-subject ellipsis mb-1">Sales</p>
							</div>
						</a>
						<div class="dropdown-divider"></div>
						<a href="/admin/purchase-chart" class="dropdown-item preview-item m-0">
							<div class="preview-thumbnail">
								<div class="preview-icon bg-dark rounded-circle">
									<i class="mdi mdi-chart-pie text-danger"></i>
								</div>
							</div>
							<div class="preview-item-content">
								<p class="preview-subject ellipsis mb-1">Purchase</p>
							</div>
						</a>
					</div>
				</li>
			<ul class="navbar-nav navbar-nav-right">
				<li class="nav-item dropdown">
					<a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
						<div class="navbar-profile">
							<img class="img-xs rounded-circle" th:src="${account.avatar}" th:alt="${account.username}">
							<p class="mb-0 d-none d-sm-block navbar-profile-name">[[${account.username}]]</p>
							<i class="mdi mdi-menu-down d-none d-sm-block"></i>
						</div>
					</a>
					<div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
						aria-labelledby="profileDropdown">
						<a href="/home" class="dropdown-item preview-item">
							<div class="preview-thumbnail">
								<div class="preview-icon bg-dark rounded-circle">
									<i class="mdi mdi-keyboard-return text-success"></i>
								</div>
							</div>
							<div class="preview-item-content">
								<p class="preview-subject mb-1">Back to website</p>
							</div>
						</a>
						<div class="dropdown-divider"></div>
						<a href="/logout" class="dropdown-item preview-item">
							<div class="preview-thumbnail">
								<div class="preview-icon bg-dark rounded-circle">
									<i class="mdi mdi-logout text-danger"></i>
								</div>
							</div>
							<div class="preview-item-content">
								<p class="preview-subject mb-1">Log out</p>
							</div>
						</a>
					</div>
				</li>
			</ul>
			<button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
				data-toggle="offcanvas">
				<span class="mdi mdi-format-line-spacing"></span>
			</button>
	</div>
</nav>