<!DOCTYPE html>
<html th:replace="~{/admin/base :: dynamic(~{::main})}">

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>

<body>
	<!-- partial -->
	<main class="container-fluid page-body-wrapper">
		<div class="main-panel">
			<div class="content-wrapper">
				<div class="row">
					<!-- Accounts -->
					<div class="col-lg-12 grid-margin stretch-card">
						<div class="card">
							<div class="card-body">
								<div class="flex-title">
									<h4 class="card-title">Accounts Table</h4>
									<form>
										<label for="search-account">
										<input type="text" name="q" id="admin-account-search" placeholder="Search username..." 
											style="background: none; border: none; border-bottom: 1px solid white; color: white;"></label>
									</form>
								</div>
								</p>
								<div class="table-responsive">
									<table class="table table-striped">
										<thead>
											<tr>
												<th> Avatar </th>
												<th> Username </th>
												<th> Email </th>
												<th> Power </th>
												<th> Budget </th>
												<th> Role </th>
												<th> Joined Date </th>
												<th> Action </th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="account: ${accounts}">
												<td class="py-1">
													<img th:src="${account.avatar}" alt="image" />
												</td>
												<td> [[${account.username}]] </td>
												<td> [[${account.email}]] </td>
												<td> [[${account.power}]] coin </td>
												<td> [[${account.budget}]] coin </td>
												<td> [[${account.role.acc_role_name}]] </td>
												<td> [[${#dates.format(account.joined_date, 'EEE, d MMM yyyy HH:mm
													a')}]] </td>
												<td>
													<!-- Button trigger modal edit -->
													<button style="width: 36.9px;" type="button"
														class="btn badge-warning" data-toggle="modal"
														th:attr="data-target='#modaladminaccount-' + ${account.id}">
														<i class="fa-solid fa-pen-to-square text-white"></i>
													</button>

													<!-- Modal Edit -->
													<div class="modal fade" th:id="'modaladminaccount-' + ${account.id}"
														tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
														aria-hidden="true">
														<div class="modal-dialog" role="document">
															<div class="modal-content">
																<div class="modal-header">
																	<h5 class="modal-title" id="exampleModalLabel">Edit
																	</h5>
																	<button type="button" class="close text-white"
																		data-dismiss="modal" aria-label="Close">
																		<span aria-hidden="true">&times;</span>
																	</button>
																</div>
																<div class="modal-body">
																	<div class="col-12 grid-margin stretch-card">
																		<div class="card">
																			<div class="card-body">
																				<h4 class="card-title">Accounts Form
																				</h4>
																				<p class="card-description"> Accounts
																					form
																				</p>
																				<form
																					class="forms-sample form-admin-account">
																					<div class="alert alert-danger mb-3 animated bounceIn"
																						th:id="'admin-account-error-' + ${account.id}"
																						style="display: none;"></div>
																					<div class="alert alert-success mb-3 animated bounceIn"
																						th:id="'admin-account-success-' + ${account.id}"
																						style="display: none;"></div>
																					<input type="hidden"
																						id="admin-account-id"
																						th:value="${account.id}">
																					<div class="form-group">
																						<label
																							for="admin-account-username">Username</label>
																						<input type="text"
																							class="form-control"
																							th:id="'admin-account-username-' + ${account.id}"
																							th:value="${account.username}"
																							placeholder="Username"
																							required>
																					</div>
																					<div class="form-group">
																						<label
																							for="admin-account-email">Email
																							address</label>
																						<input type="email"
																							class="form-control"
																							th:id="'admin-account-email-' + ${account.id}"
																							th:value="${account.email}"
																							placeholder="Email"
																							required>
																					</div>
																					<div class="form-group">
																						<label
																							for="admin-account-avatar">Upload
																							Avatar</label>
																						<input type="file" name="img[]"
																							class="file-upload-default"
																							th:attr="data-id=${account.id}"
																							th:id="'admin-account-avatar-' + ${account.id}" accept="image/*">
																						<div
																							class="input-group col-xs-12">
																							<input type="text"
																								class="form-control file-upload-info admin-account"
																								th:id="${account.id}"
																								disabled
																								th:value="${account.avatar}"
																								placeholder="Upload Avatar">
																							<span
																								class="input-group-append">
																								<button
																									class="file-upload-browse admin-account btn btn-primary"
																									th:attr="data-id=${account.id}"
																									type="button">Upload</button>
																							</span>
																						</div>
																					</div>
																					<div class="form-group">
																						<label
																							for="admin-account-password">Password</label>
																						<input type="password"
																							class="form-control"
																							th:id="'admin-account-password-' + ${account.id}"
																							placeholder="Password"
																							required>
																					</div>
																					<div class="form-group">
																						<label
																							for="admin-account-budget">Budget</label>
																						<div class="input-group">
																							<div
																								class="input-group-prepend">
																								<span
																									class="input-group-text bg-primary text-white">coin</span>
																							</div>
																							<input type="number"
																								class="form-control"
																								th:id="'admin-account-budget-' + ${account.id}"
																								th:value="${account.budget}">
																							<div
																								class="input-group-append">
																								<span
																									class="input-group-text">.00</span>
																							</div>
																						</div>
																					</div>
																					<div
																						th:replace="/utilities/loading-popup::.loading-relative(content='admin-account-loading-' + ${account.id})">
																					</div>
																					<button type="submit"
																						class="btn btn-primary mr-2">Submit</button>
																					<button class="btn btn-dark"
																						data-dismiss="modal"
																						aria-label="Close">Cancel</button>
																				</form>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<button class="badge badge-danger" data-toggle="modal"
														th:attr="data-target='#modeladminacccount-delete-' + ${account.id}"><i
															class="fa-solid fa-trash text-white"></i></button>
													<!-- Modal delete -->
													<div class="modal fade" th:id="'modeladminacccount-delete-' + ${account.id}" tabindex="-1">
														<div class="modal-dialog">
															<div class="modal-content">
																<div class="modal-header">
																	<h5 class="modal-title">Delete Form</h5>
																	<button type="button" class="btn-close"
																		data-mdb-dismiss="modal"
																		aria-label="Close"></button>
																</div>
																<form action="/delete_admin_account" method="POST">
																	<input type="hidden" th:value="${account.id}" name="id">
																	<div class="modal-body">
																		<p>Are you sure you want to delete [[${account.username}]]</p>
																	</div>
																	<div class="modal-footer">
																		<button type="button" class="btn btn-secondary"
																			data-dismiss="modal" aria-label="Close">Close</button>
																		<button type="submit" class="btn-delete-admin-account btn btn-primary" th:attr="data-id=${account.id}">Save
																			changes</button>
																	</div>
																</form>
															</div>
														</div>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<!-- Paging -->
							<div th:replace="/utilities/paginate::.paginate"></div>
						</div>
					</div>
				</div>
			</div>
			<!-- content-wrapper ends -->
			<div th:replace="/admin/_footer.html"></div>
	</main>
</body>

</html>