<!DOCTYPE html>
<html th:replace="~{/admin/base :: dynamic(~{::main})}">

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>

<body>
	<!-- partial -->
	<main class="container-fluid page-body-wrapper">
		<div class="main-panel">
			<div class="content-wrapper">
				<div class="row">
					<!-- Accounts -->
					<div class="col-lg-12 grid-margin stretch-card">
						<div class="card">
							<div class="card-body">
								<div class="flex-title">
									<h4 class="card-title">Authorize Table</h4>
									<form>
										<label for="search-account">
											<input type="text" name="q" id="admin-authorize-search"
												placeholder="Search username..."
												style="background: none; border: none; border-bottom: 1px solid white; color: white;"></label>
									</form>
								</div>
								</p>
								<div class="table-responsive">
									<table class="table table-striped">
										<thead>
											<tr>
												<th> Avatar </th>
												<th> Username </th>
												<th> Email </th>
												<th> Role </th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="account: ${accounts}">
												<td class="py-1">
													<img th:src="${account.avatar}" alt="image" />
												</td>
												<td> [[${account.username}]] </td>
												<td> [[${account.email}]] </td>
												<td>
													<div class="btn-group authorize-role">
														<input type="radio" class="btn-check"
															th:name="'authorize-role-' + ${account.id}"
															th:id="'authorize-admin-' + ${account.id}"
															th:checked="${account.role.id == 1}"
															th:attr="data-id=${account.id}" value="1"
															autocomplete="off" />
														<label class="btn btn-secondary lbl-autorize-role"
															th:attr="data-id=${account.id}, data-value=${1}"
															for="authorize-admin">ADMIN</label>
														<input type="radio" class="btn-check"
															th:name="'authorize-role-' + ${account.id}"
															th:id="'authorize-mod-' + ${account.id}"
															th:checked="${account.role.id == 2}"
															th:attr="data-id=${account.id}" value="2"
															autocomplete="off" />
														<label class="btn btn-secondary lbl-autorize-role" 
															th:attr="data-id=${account.id}, data-value=${2}"
															for="authorize-mod">MOD</label>
														<input type="radio" class="btn-check"
															th:name="'authorize-role-' + ${account.id}"
															th:id="'authorize-user-' + ${account.id}"
															th:checked="${account.role.id == 3}"
															th:attr="data-id=${account.id}" value="3"
															autocomplete="off" />
														<label class="btn btn-secondary lbl-autorize-role"
															th:attr="data-id=${account.id}, data-value=${3}"
															for="authorize-user">USER</label>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<!-- Paging -->
							<div th:replace="/utilities/paginate::.paginate"></div>
						</div>
					</div>
				</div>
			</div>
			<!-- content-wrapper ends -->
			<div th:replace="/admin/_footer.html"></div>
	</main>
</body>

</html>