<!DOCTYPE html>
<html th:replace="~{/admin/base :: dynamic(~{::main})}">

<head>
</head>

<body>
	<!-- partial -->
	<main class="container-fluid page-body-wrapper">
		<div class="main-panel">
			<div class="content-wrapper">
				<div class="row">

					<!-- Create Movies Form -->
					<div class="col-12 grid-margin stretch-card">
						<div class="card">
							<div class="card-body">
								<h4 class="card-title">Movies Form</h4>
								<p class="badge badge-danger" style="white-space: pre-wrap;" th:if="${error}"> [[${error}]]</p>
								<form th:object="${adminMovieForm}" id="admin-movie-form" class="forms-sample" th:action="@{/admin/movie-form}" method="POST">
									<div class="form-group">
										<label for="adminMovie-title">Title</label>
										<input th:field="*{title}" type="text" class="form-control" id="adminMovie-title"
											placeholder="Title" required>
									</div>
									<div class="form-group">
										<label for="adminMovie-quality">Quality</label>
										<select class="form-control" id="adminMovie-quality" th:field="*{quality}">
									      <option th:each="q: ${qualities}" th:value="${q.id}" th:text="${q.quality_name}"></option>
									    </select>
									</div>
									<div class="form-group">
										<label for="adminMovie-duration_min">Duration min</label>
										<input th:field="*{duration_min}" type="text" class="form-control" id="adminMovie-duration_min"
											placeholder="Duration min" required>
									</div>
									<div class="form-group">
										<label for="adminMovie-description">Description</label>
										<textarea th:field="*{description}" class="form-control" id="adminMovie-description" rows="4" required></textarea>
									</div>
									<div class="form-group">
										<label for="adminMovie-release_date">Release date</label>
										<input th:field="*{release_date}" type="date" class="form-control" id="adminMovie-release_date"
											placeholder="yyyy-mm-dd" required>
									</div>
									<div class="form-group">
										<label for="adminMovie-productions">Productions</label>
										<input th:field="*{productions}" type="text" class="form-control" id="adminMovie-productions"
											placeholder="Productions" required>
									</div>
									<div class="form-group">
										<label for="adminMovie-imdb">IMDB</label>
										<input th:field="*{imdb_rate}" type="number" step="0.01" class="form-control" id="adminMovie-imdb"
											placeholder="IMDB">
									</div>
									<div class="form-group">
										<label for="adminMovie-trailer">Trailer</label>
										<input th:field="*{trailer}" type="text" class="form-control" id="adminMovie-trailer"
											placeholder="Trailer" required>
									</div>
									<div class="form-group">
										<label for="adminMovie-type">Type</label>
										<select class="form-control" id="adminMovie-type" th:field="*{type}">
									      <option th:each="t: ${typies}" th:value="${t.id}" th:text="${t.movie_type_name}"></option>
									    </select>
									</div>
									<div class="form-group">
										<label for="adminMovie-status">Status</label>
										<select class="form-control" id="adminMovie-status" style="pointer-events: none">
									      <option th:each="s: ${statues}" th:value="${s.id}" th:text="${s.status_name}" th:selected="${s.id == 3}"></option>
									    </select>
									</div>
									<div class="form-group">
										<p>Genres</p>
										<ul class="d-flex justify-content-center flex-wrap p-3" style="gap: 50px; background: #2A3038;">
											<li th:each="g, iter: ${genres}">
												<input th:field="*{genres[__${iter.index}__]}" th:value="${g.id}" type="checkbox" class="form-check-input" th:id="'adminMovie-genre-' + ${g.id}">
												<label class="p-0 m-0" style="line-height: 0; vertical-align: unset;" th:for="'adminMovie-genre-' + ${g.id}">[[${g.genre_name}]]</label>
											</li> 
										</ul>
									</div>
									<div class="form-group">
										<p>Countries</p>
										<ul class="d-flex justify-content-center flex-wrap p-3" style="gap: 50px; background: #2A3038;">
											<li th:each="c, iter: ${countries}">
												<input th:field="*{countries[__${iter.index}__]}" th:value="${c.id}"  type="checkbox" class="form-check-input" th:id="'adminMovie-country-' + ${c.id}">
												<label class="p-0 m-0" style="line-height: 0; vertical-align: unset;" th:for="'adminMovie-country-' + ${c.id}">[[${c.country_name}]]</label>
											</li>
										</ul>
									</div>
									<button type="submit" class="btn btn-primary mr-2">Submit</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div th:replace="/admin/_footer.html"></div>
		</div>
	</main>
</body>

</html>