<!DOCTYPE html>
<html th:replace="~{/admin/base :: dynamic(~{::main})}">

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>

<body>
	<main class="container-fluid page-body-wrapper">
		<!-- partial -->
		<div class="main-panel">
			<div class="content-wrapper">
				<div class="page-header">
					<h3 class="page-title"> Purchase </h3>
				</div>
				<div class="row">
					<div class="col-lg-6 grid-margin stretch-card">
						<div class="card">
							<div class="card-body">
								<div class="chartjs-size-monitor">
									<div class="chartjs-size-monitor-expand">
										<div class=""></div>
									</div>
									<div class="chartjs-size-monitor-shrink">
										<div class=""></div>
									</div>
								</div>
								<h4 class="card-title">Purchase by month</h4>
								<canvas id="purchaseByMonth" style="height: 273px; display: block; width: 546px;"
									width="682" height="341" class="chartjs-render-monitor"></canvas>
							</div>
						</div>
					</div>
					<div class="col-lg-6 grid-margin stretch-card">
						<div class="card">
							<div class="card-body">
								<div class="chartjs-size-monitor">
									<div class="chartjs-size-monitor-expand">
										<div class=""></div>
									</div>
									<div class="chartjs-size-monitor-shrink">
										<div class=""></div>
									</div>
								</div>
								<h4 class="card-title">Purchase by year</h4>
								<canvas id="purchaseByYear" style="height: 273px; display: block; width: 546px;"
									width="682" height="341" class="chartjs-render-monitor"></canvas>
							</div>
						</div>
					</div>
					<script th:src="@{/admin/assets/vendors/chart.js/Chart.min.js}"></script>
					<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
						integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
						crossorigin="anonymous" referrerpolicy="no-referrer"></script>
					<script type="text/javascript" th:inline="javascript">
						/*<![CDATA[*/
						const currentYear = (new Date()).getFullYear();
						const range = (start, stop, step) => Array.from({length: (stop - start) / step + 1}, (_, i) => start + (i * step));
						var years = range(currentYear, currentYear - 4, -1);
						var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

						function getRandomColor() {
							var letters = '0123456789ABCDEF';
							var color = '#';
							for (var i = 0; i < 6; i++) {
								color += letters[Math.floor(Math.random() * 16)];
							}
							return color;
						}

						var dataMonth = {
							datasets: [{
								label: 'sales',
								data: /*[[${months_data}]]*/[],
								backgroundColor:
									Array.apply(null, Array(months.length)).map(function (x, i) {return getRandomColor();})
								,
								borderColor: [
									'rgba(255,99,132,1)',
								],
								borderWidth: 1,
								fill: false
							}],
							labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
						};

						var dataYear = {
							datasets: [{
								label: 'sales',
								data: /*[[${years_data}]]*/[],
								backgroundColor:
									Array.apply(null, Array(years.length)).map(function (x, i) {return getRandomColor();})
								,
								borderColor: [
									'rgba(255,99,132,1)',
								],
								borderWidth: 1,
								fill: false
							}],
							labels: /*[[${years}]]*/[]
						};

						var options = {
							responsive: true,
							animation: {
								animateScale: true,
								animateRotate: true
							}
						};

						if ($("#purchaseByMonth").length) {
							var pieChartCanvas = $("#purchaseByMonth").get(0).getContext("2d");
							var pieChart = new Chart(pieChartCanvas, {
								type: 'pie',
								data: dataMonth,
								options: options
							});
						}

						if ($("#purchaseByYear").length) {
							var pieChartCanvas = $("#purchaseByYear").get(0).getContext("2d");
							var pieChart = new Chart(pieChartCanvas, {
								type: 'pie',
								data: dataYear,
								options: options
							});
						}
						/*]]>*/
					</script>
				</div>
			</div>
			<!-- content-wrapper ends -->
			<div th:replace="/admin/_footer.html"></div>
	</main>
</body>

</html>