<!-- Footer -->
<footer id="footer">
	<div id="about">
		<div class="logo-contact">
			<a href="" class="logo-contact__img"><img src="/img/logo.png" alt=""
					class="logo-contact__img-logo"></a>
			<span class="y">|</span>
			<a href="" class="logo-contact__img"><img src="/img/contact.png" alt=""
					class="logo-contact__img-logo-contact"></a>
		</div>
		<div class="x"><img src="/img/y.png" alt=""></div>
		<div class="list">
			<span class="list__search">A-Z LIST</span>
			<span class="y">|</span>
			<span class="list__desc">Searching movie order by alphabet name A to Z.</span>
		</div>
		<ul class="keyword">
			<li><a href="">All</a></li>
			<li><a href="">#</a></li>
			<li><a href="">0-9</a></li>
			<li><a href="">A</a>
			</li>
			<li><a href="">B</a>
			</li>
			<li><a href="">C</a>
			</li>
			<li><a href="">D</a>
			</li>
			<li><a href="">E</a>
			</li>
			<li><a href="">F</a>
			</li>
			<li><a href="">G</a>
			</li>
			<li><a href="">H</a>
			</li>
			<li><a href="">I</a>
			</li>
			<li><a href="">J</a>
			</li>
			<li><a href="">K</a>
			</li>
			<li><a href="">L</a>
			</li>
			<li><a href="">M</a>
			</li>
			<li><a href="">N</a>
			</li>
			<li><a href="">O</a>
			</li>
			<li><a href="">P</a>
			</li>
			<li><a href="">Q</a>
			</li>
			<li><a href="">R</a>
			</li>
			<li><a href="">S</a>
			</li>
			<li><a href="">T</a>
			</li>
			<li><a href="">U</a>
			</li>
			<li><a href="">V</a>
			</li>
			<li><a href="">W</a>
			</li>
			<li><a href="">X</a>
			</li>
		</ul>
		<div class="about-contact">
			<a href="">
				<span class="about-contact__items">Terms of service</span>
			</a>
			<a href="">
				<span class="about-contact__items">DMCA</span>
			</a>
			<a href="">
				<span class="about-contact__items">Contact</span>
			</a>
		</div>
		<div class="about-desc">
			<p>Error does not store any files on our server, we only linked to the media which is hosted on 3rd party
				services.</p>
			<p>© Error</p>
		</div>
	</div>
</footer>