<!-- Header -->
<header id="header">
	<div class="header__menu">
		<a href=""><i class="fa-solid fa-bars header__menu-icon"></i></a>
	</div>
	<div class="header__logo">
		<a href="/home"><img src="/img/logo.png" alt="img-logo" class="header_logo-img"></a>
	</div>
	<div class="header__search">
		<input type="text" placeholder="Search movie..." class="header__search-input">
		<a href="" class="header__search-icon"><i class="fa-solid fa-magnifying-glass"></i></a>
	</div>
	<div class="header__contacts">
		<div class="header__contacts-background-discord">
			<a href="" target="_blank" class="header__contacts-icons"><i class="fa-brands fa-discord"></i></a>
		</div>
		<div class="header__contacts-background-telegram">
			<a href="" target="_blank" class="header__contacts-icons"><i class="fab fa-telegram-plane"></i></a>
		</div>
		<div class="header__contacts-background-reddit">
			<a href="" target="_blank" class="header__contacts-icons"><i class="fab fa-reddit-alien"></i></a>
		</div>
		<div class="header__contacts-background-twitter">
			<a href="" target="_blank" class="header__contacts-icons"><i class="fab fa-twitter"></i></a>
		</div>
	</div>
	<div class="header__functions">
		<a href="" class="header__functions-icons">
			<div class="header__functions-icons-watch">
				<i class="fa-solid fa-wifi"></i>
			</div>
			<div class="header__functions-icons-name right-name">
				Watch2gether
			</div>
		</a>
		<a href="" class="header__functions-icons">
			<div class="header__functions-icons-watch right-random">
				<i class="fa-solid fa-shuffle"></i>
			</div>
			<div class="header__functions-icons-name">
				Random
			</div>
		</a>
		<a href="" class="header__functions-icons">
			<div class="header__functions-icons-watch">
				<i class="fa-solid fa-comment"></i>
			</div>
			<div class="header__functions-icons-name">
				Community
			</div>
		</a>
		<div class="header__functions-btn">
			<button class="header__functions-donate-btn">Donate</button>
		</div>
	</div>
	<div class="header__search-rps"><a href=""><i class="fa-solid fa-magnifying-glass"></i></a></div>
	<div class="header__login">
		<button class="header__login-btn">Login</button>
	</div>
</header>