<div class="cw-content pb-5 pt-2 user-content">
	<div class="container">
		<div class="profile-box profile-box-account makeup my-0" style="max-width: 1200px!important;">
			<h2 class="h2-heading my-4 w-100 p-0"><i class="fas fa-history mr-3"></i>Continue Watching</h2>

			<div class="flex-movies">
				<!-- Movies -->
				<div class="watchContent__main-movies-films" th:each="cw: ${cws}">
					<div class="box-img">
						<a th:href="@{/watch-movie/{slug}/{se_ep}(slug=${cw.getMovieSlug()}, se_ep=${cw.getSeason()}+'-'+${cw.getEp()})}"
							class="watchContent__main-movies-films-img"><img th:src="${cw.getMoviePoster()}"
								th:alt="${cw.getMovieTitle()}" class="watchContent__main-movies-films-img-logo">
							<div class="items-sub-res">
								<div class="items-sub">SUB</div>
								<div class="items-resolution">[[${cw.getQuality()}]]</div>
							</div>
							<i class="fa-solid fa-caret-right item-plays"></i>
						</a>
						<div th:attr="data-movieId=${cw.getMovieId()}" class="remove-item remove-cw" data-toggle="tooltip" data-original-title="Remove">
							<i class="fas fa-times"></i>
						</div>
					</div>
					<div class="watchContent__main-movies-films-content">
						<a th:href="@{/watch-movie/{slug}/{se_ep}(slug=${cw.getMovieSlug()}, se_ep=${cw.getSeason()}+'-'+${cw.getEp()})}"
							rel="noopener noreferrer">
							<h4 class="watchContent__main-movies-films-title">
								[[${cw.getMovieTitle()}]]</h4>
						</a>
						<span class="watchContent__main-movies-films-desc">
							<span th:if="${cw.getType() == 2}"> Ep [[${cw.getEp()}]] </span>
							<span th:if="${cw.getType() == 1}"> Full movie </span>
							<span th:if="${cw.getType() == 2}">
								<span class="topFilms__items-details-descriptionDot"></span>
								Season [[${cw.getSeason()}]]
							</span>
						</span>
						<div class="watchContent__main-movies-films-items">
						</div>
					</div>
				</div>
			</div>
			
			<!-- Paging -->
			<div th:replace="/utilities/paginate::.paginate"></div>

		</div>
	</div>
</div>