<!DOCTYPE html>
<html th:replace="~{/layout/base :: dynamic(~{::main})}">

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>

<body>
	<main>
		<style>
			.watch::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-image: url([[${movie.poster}]]);
				background-size: cover;
				background-position: center center;
				background-repeat: no-repeat;
				filter: blur(20px);
				opacity: .35;
			}
		</style>
		<div class="empty" style="padding-top: 70px;"></div>
		<ul class="bread">
			<li class="bread-item"><a th:href="@{/home}">Home</a></li>
			<li class="bread-item"><i class="fas fa-circle"></i></li>
			<li class="bread-item"><a th:href="@{ |/${movie.type.type_slug}| }">[[${ movie.type.movie_type_name }]]</a>
			</li>
			<li class="bread-item"><i class="fas fa-circle"></i></li>
			<li class="bread-item">[[${ movie.title }]]</li>
		</ul>

		<div class="watch">
			<div class="we">
				<ul class="list-eps">
					<li class="list-eps-top">
						<div class="search-box">
							<i class="fas fa-search"></i>
							<input class="search-ep-input" type="text" placeholder="Number of Ep">
						</div>
					</li>
					<li>
						<ul class="eps">
							<li th:each="m, iter: ${movie_eps}" class="ep" th:attr="rel=${iter.index + 1}"
								th:classappend="${iter.index + 1 == movie_ep.ep ? 'current' : 'none'}">
								<a class="w-m"
									th:href="@{/watch-movie/{slug}/{se_ep}(slug=${movie.slug}, se_ep=${season}+'-'+${m.ep})}">
									<span class="mr-3 ml-1 font-weight-bold">[[${ iter.index + 1 }]]</span>
									[[${m.title}]]
									<div th:if="${iter.index + 1 == movie_ep.ep}" class="ssli-btn">
										<div class="btn btn-circle"><i class="fas fa-play"></i></div>
									</div>
								</a>
							</li>
						</ul>
					</li>
				</ul>

				<div class="player watch-center">

					<iframe id="my_video" width="1000" height="470"
						th:attr="data-movieId=${movie.id}, data-movieEp=${movie_ep.ep}, data-movieSeason=${movie_ep.season}"
						th:src="${server.getId() == 1} ? 'https://short.ink/'+${movie_ep.api_key} : 'https://slwatch.co/e/'+${movie_ep.api_key}"
						frameborder="0" scrolling="0" allowfullscreen></iframe>

					<div class="loading-movie">
						<div class="scene" style="--hue: 500; --saturation: 55; --lightness: 59;">
							<div class="word">
								<div class="letter_wrap" style="--index: 0;">
									<div class="letter" data-letter="L"><span class="letter_panel"
											aria-hidden="true">L</span><span class="letter_panel"
											aria-hidden="true">W</span><span class="letter_panel"
											aria-hidden="true">L</span><span class="letter_panel"
											aria-hidden="true">W</span><span class="letter_panel"></span></div>
								</div>
								<div class="letter_wrap" style="--index: 1;">
									<div class="letter" data-letter="o"><span class="letter_panel"
											aria-hidden="true">o</span><span class="letter_panel"
											aria-hidden="true">a</span><span class="letter_panel"
											aria-hidden="true">o</span><span class="letter_panel"
											aria-hidden="true">a</span><span class="letter_panel"></span></div>
								</div>
								<div class="letter_wrap" style="--index: 2;">
									<div class="letter" data-letter="a"><span class="letter_panel"
											aria-hidden="true">a</span><span class="letter_panel"
											aria-hidden="true">i</span><span class="letter_panel"
											aria-hidden="true">a</span><span class="letter_panel"
											aria-hidden="true">i</span><span class="letter_panel"></span></div>
								</div>
								<div class="letter_wrap" style="--index: 3;">
									<div class="letter" data-letter="d"><span class="letter_panel"
											aria-hidden="true">d</span><span class="letter_panel"
											aria-hidden="true">t</span><span class="letter_panel"
											aria-hidden="true">d</span><span class="letter_panel"
											aria-hidden="true">t</span><span class="letter_panel"></span></div>
								</div>
								<div class="letter_wrap" style="--index: 4;">
									<div class="letter" data-letter="i"><span class="letter_panel"
											aria-hidden="true">i</span><span class="letter_panel"
											aria-hidden="true">.</span><span class="letter_panel"
											aria-hidden="true">i</span><span class="letter_panel"
											aria-hidden="true">.</span><span class="letter_panel"></span></div>
								</div>
								<div class="letter_wrap" style="--index: 5;">
									<div class="letter" data-letter="n"><span class="letter_panel"
											aria-hidden="true">n</span><span class="letter_panel"
											aria-hidden="true">.</span><span class="letter_panel"
											aria-hidden="true">n</span><span class="letter_panel"
											aria-hidden="true">.</span><span class="letter_panel"></span></div>
								</div>
								<div class="letter_wrap" style="--index: 6;">
									<div class="letter" data-letter="g"><span class="letter_panel"
											aria-hidden="true">g</span><span class="letter_panel"
											aria-hidden="true">.</span><span class="letter_panel"
											aria-hidden="true">g</span><span class="letter_panel"
											aria-hidden="true">.</span><span class="letter_panel"></span></div>
								</div>
							</div>
						</div>
					</div>

					<div class="watch-setting">
						<div class="watch-setting-top">
							<div class="watch-setting-top-left">
								<span class="expand-movie" style="cursor: pointer;" data-type="collapse"><i
										class="fas fa-expand"></i>&nbsp; Expand</span>
								<span><i class="fas fa-lightbulb"></i> Light <span class="turn turn-light"
										data-light="on"
										style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;">On</span></span>
								<span sec:authorize="isAuthenticated()" class="report-movie"
									th:attr="data-movieEpId=${movie_ep.id}, data-movieType=${movie.type.id}, data-movieEpTitle=${movie_ep.title}, data-movieTitle=${movie.title}, data-movieEp=${ep}"
									style="cursor: pointer;" data-toggle="modal" data-target="#modalreportmovie"><i
										class="fas fa-bug"></i>&nbsp; Report Issue</span>
								<span sec:authorize="isAnonymous()" class="report-movie" data-toggle="modal"
									data-target="#modallogin" style="cursor: pointer;"><i class="fas fa-bug"></i>&nbsp;
									Report Issue</span>


							</div>
							<div class="watch-setting-top-right">
								<div class="watch-prev change-ep"
									th:attr="data-ep=${ep}, data-slug=${movie.slug}, data-season=${movie_ep.season}, data-totalEp=${#lists.size(movie_eps)}">
									<a href="javascript:;"><i class="fas fa-backward"></i></a>
								</div>
								<div class="watch-next change-ep"
									th:attr="data-ep=${ep}, data-slug=${movie.slug}, data-season=${movie_ep.season}, data-totalEp=${#lists.size(movie_eps)}">
									<a href="javascript:;"><i class="fas fa-forward"></i></a>
								</div>

								<div sec:authorize="isAnonymous()" class="watch-plus" data-toggle="modal"
									data-target="#modallogin"><i class="fas fa-plus"
										style="font-size: 20px; cursor: pointer;"></i></div>
								<div sec:authorize="isAuthenticated()" class="watch-plus" data-toggle="dropdown"
									aria-haspopup="true" aria-expanded="false"><i class="fas fa-plus"
										style="font-size: 20px; cursor: pointer;"></i></div>
								<div sec:authorize="isAuthenticated()" style="color: white;min-width: 150px;"
									class="dropdown-menu dropdown-menu-model dropdown-menu-normal"
									aria-labelledby="ssc-list"
									th:with="status=${wlDao?.findByAccountAndMovie(account.id, movie.id)?.getStatus()}">
									<a class="wl-item dropdown-item"
										th:classappend="${status} == '1' ? 'added' : 'asdf'" data-type="1"
										th:style="${status == '1' ? 'pointer-events: none' : 'pointer-events: visible'}"
										th:attr="data-movieId=${movie.id}" data-page="watch-list" href="javascript:;">
										Watching <i th:if="${status} == '1'" class="fas fa-check m-0 pl-2"></i>
									</a>

									<a class="wl-item dropdown-item" th:classappend="${status} == '2' ? 'added' : ''"
										data-type="2"
										th:style="${status == '2' ? 'pointer-events: none' : 'pointer-events: visible'}"
										th:attr="data-movieId=${movie.id}" data-page="watch-list" href="javascript:;">
										On-hold <i th:if="${status} == '2'" class="fas fa-check m-0 pl-2"></i>
									</a>

									<a class="wl-item dropdown-item" th:classappend="${status} == '3' ? 'added' : ''"
										data-type="3"
										th:style="${status == '3' ? 'pointer-events: none' : 'pointer-events: visible'}"
										th:attr="data-movieId=${movie.id}" data-page="watch-list" href="javascript:;">
										Plan to watch <i th:if="${status} == '3'" class="fas fa-check m-0 pl-2"></i>
									</a>

									<a class="wl-item dropdown-item" th:classappend="${status} == '4' ? 'added' : ''"
										data-type="4"
										th:style="${status == '4' ? 'pointer-events: none' : 'pointer-events: visible'}"
										th:attr="data-movieId=${movie.id}" data-page="watch-list" href="javascript:;">
										Dropped <i th:if="${status} == '4'" class="fas fa-check m-0 pl-2"></i>
									</a>

									<a class="wl-item dropdown-item" th:classappend="${status} == '5' ? 'added' : ''"
										data-type="5"
										th:style="${status == '5' ? 'pointer-events: none' : 'pointer-events: visible'}"
										th:attr="data-movieId=${movie.id}" data-page="watch-list" href="javascript:;">
										Completed <i th:if="${status} == '5'" class="fas fa-check m-0 pl-2"></i>
									</a>
									<a class="wl-item dropdown-item text-danger" href="javascript:;"
										th:attr="data-movieId=${movie.id}" data-page="watch-list"
										data-type="0">Remove</a>
								</div>

							</div>
						</div>

						<div class="watch-setting-bottom">
							<div class="watch-setting-bottom-left">You are watching <br /> <span
									class="font-weight-bold">[[${ movie_ep.title }]]</span></div>
							<div class="watch-setting-bottom-right">
								<span style="font-size: 14px"><i class="fas fa-server"></i> SERVER: </span>
								<div class="servers"><span class="btn-change-server mr-2" th:each="s: ${servers}"
										th:attr="data-movie=${movie.id}, data-server=${s.getId()}, data-ep=${movie_ep.ep}, data-season=${movie_ep.season}"
										th:classappend="${server.getMovie_server_name() == s.movie_server_name} ? current-server : ''">[[${s.movie_server_name}]]</span>
								</div>
							</div>
						</div>

						<div class="watch-seasons" th:if="${ movie.type.id == 2 }">
							<p class="font-weight-bold">Watch more seasons of this movie</p>
							<div class="seasons">
								<a th:each="s: ${#numbers.sequence(1, seasons, 1)}"
									th:href="@{/movie/{slug}/{season} (slug=${movie.slug}, season=${s})}"
									class="season-item" th:classappend="${season == s} ? 'current-season' : ''"
									th:text="'Season ' + ${s}"></a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="watch-detail">
				<div class="poster">
					<img th:src="${ movie.poster }" alt="">
				</div>
				<div class="watch-name">
					<span>[[${ movie.title }]]</span>
				</div>
				<ul class="watch-info">
					<li>
						<span class="badge badge-warning mr-1" th:if="${movie.vip == true}">VIP</span>
						<span class="badge border border-light text-light mr-1">[[${ movie.quality.quality_name
							}]]</span>
						<span class="badge border border-light text-light mr-1">SUB</span>
					</li>
					<li class="bread-item"><i class="fas fa-circle"></i></li>
					<li><span>[[${ movie.type.movie_type_name }]]</span></li>
					<li class="bread-item"><i class="fas fa-circle"></i></li>
					<li><span th:if="${movie.type.movie_type_name == 'TV-Series'}">Ep [[${ #lists.size(movie_eps)
							}]]</span>
						<span th:unless="${movie.type.movie_type_name == 'TV-Series'}">Full</span>
					</li>
				</ul>
				<div class="watch-desc">
					<span data-read-more="{ visible: false, useStyledContainer: true }">[[${ movie.description
						}]]</span>
				</div>
				<div class="link-detail">
					<a th:href="@{/movie/{slug}/{season} (slug=${movie.slug}, season=${season})}">View detail</a>
				</div>
				<div class="watch-vote">
					<div class="watch-vote-top">
						<div>
							<span>⭐ <span class="font-weight-bold movie-rated">[[${getMovieRated}]]</span> <span
									class="total-movie-rated" style="font-size:10px;">([[${getTotalMovieRated}]]
									voted)</span></span>
							<span class="font-weight-bold">Vote now</span>
						</div>
						<span style="font-size: 12px;">What do you think about movie?</span>
					</div>
					<div>
						<div class="watch-vote-bot" sec:authorize="isAuthenticated()">
							<a href="javascript:void(0);" class="rate-movie"
								th:classappend="${getRate == 1} ? 'rated' : ''" data-rate="1"
								th:attr="data-movieId=${movie.id}"><span>🤬</span> <span
									style="font-size: 12px">***</span></a>
							<a href="javascript:void(0);" class="rate-movie"
								th:classappend="${getRate == 2} ? 'rated' : ''" data-rate="2"
								th:attr="data-movieId=${movie.id}"><span>🥱</span> <span
									style="font-size: 12px">Boring</span></a>
							<a href="javascript:void(0);" class="rate-movie"
								th:classappend="${getRate == 3} ? 'rated' : ''" data-rate="3"
								th:attr="data-movieId=${movie.id}"><span>😐</span> <span
									style="font-size: 12px">Normal</span></a>
							<a href="javascript:void(0);" class="rate-movie"
								th:classappend="${getRate == 4} ? 'rated' : ''" data-rate="4"
								th:attr="data-movieId=${movie.id}"><span>😀</span> <span
									style="font-size: 12px">Great</span></a>
							<a href="javascript:void(0);" class="rate-movie"
								th:classappend="${getRate == 5} ? 'rated' : ''" data-rate="5"
								th:attr="data-movieId=${movie.id}"><span>🤩</span> <span
									style="font-size: 12px">Amazing</span></a>
						</div>

						<div class="watch-vote-bot" sec:authorize="isAnonymous()">
							<a href="javascript:void(0);" data-toggle="modal" data-target="#modallogin"><span>🤬</span>
								<span style="font-size: 12px">***</span></a>
							<a href="javascript:void(0);" data-toggle="modal" data-target="#modallogin"><span>🥱</span>
								<span style="font-size: 12px">Boring</span></a>
							<a href="javascript:void(0);" data-toggle="modal" data-target="#modallogin"><span>😐</span>
								<span style="font-size: 12px">Normal</span></a>
							<a href="javascript:void(0);" data-toggle="modal" data-target="#modallogin"><span>😀</span>
								<span style="font-size: 12px">Great</span></a>
							<a href="javascript:void(0);" data-toggle="modal" data-target="#modallogin"><span>🤩</span>
								<span style="font-size: 12px">Amazing</span></a>
						</div>
					</div>
					<div class="form-group login-btn mb-0">
						<div th:replace="/utilities/loading-popup::.loading-relative(content='rate-loading')"></div>
					</div>
				</div>
			</div>

		</div>

		<!-- Contact Content -->
		<div id="contactList">
			<div class="contactList__gif">
				<img src="/img/eating-popcorn-venom.gif" alt="gif-venom" class="contactList__gif-item">
			</div>
			<div class="contactList__share">
				<span class="contactList__share-title">Share movie</span>
				<p class="contactList__share-desc">to your friends</p>
			</div>
			<div class="contactList__btn">
				<div class="contactList__btn-icon">
					<button class="contactList__btn-icon-facebooks">
						<i class="fa-brands fa-facebook contactList__btn-icon-facebook"></i>
						Facebook
					</button>
				</div>
				<div class="contactList__btn-icon">
					<button class="contactList__btn-icon-twitters">
						<i class="fa-brands fa-twitter contactList__btn-icon-twitter"></i>
						Twitter
					</button>
				</div>
				<div class="contactList__btn-icon">
					<button class="contactList__btn-icon-reddits">
						<i class="fa-brands fa-reddit-alien contactList__btn-icon-reddit"></i>
						Reddit
					</button>
				</div>
				<div class="contactList__btn-icon">
					<button class="contactList__btn-icon-telegrams">
						<i class="fa-brands fa-telegram contactList__btn-icon-telegram"></i>
						Telegram
					</button>
				</div>
			</div>
		</div>

		<div style="width: 100%;">
			<div  style="width:73%;float:left;">
				<div class="load-cm-movie mx-3" th:attr="data-movieEpId=${movie_ep.id}">
					<div th:replace="/utilities/loading-popup::.loading-relative(content='comment-movie-loading')"></div>
				</div>
				<div id="watchContent" class="my-3 p-0 px-3" style="background: none;">
					<div class="watchContent__main">
						<div class="watchContent__main-movies">
							<div class="watchContent__main-movies-title" style="margin: 0">
								<span class="watchContent__main-movies-title-heading">
									Recommended for you
								</span>
							</div>
			
							<div class="flex-movies" style="gap: 8px;">
								<!-- Movies -->
								<div class="watchContent__main-movies-films m-0" th:each="rm: ${recommend_movies}">
									<div class="box-img qtip-movie" th:attr="data-id=${rm.id}">
										<a th:href="@{ /movie/{slug}/{season} (slug=${rm.slug}, season=1) }"
											class="watchContent__main-movies-films-img"><img th:src="${rm.poster}"
												th:alt="${rm.title}" class="watchContent__main-movies-films-img-logo">
											<div th:if="${rm.vip}" class="items-vip">VIP</div>
											<div class="items-sub-res">
													<div class="items-sub">SUB</div>
													<div class="items-resolution">[[${rm.quality.quality_name}]]</div>
												</div>
											<div th:if="${rm.type.movie_type_name == 'TV-Series'}" class="items-parts">Ep
												[[${ #lists.size(movie_episodeDao.findByMovieAndSeasonAndServer(rm.id, 1, 1)) }]]</div>
											<div th:unless="${rm.type.movie_type_name == 'TV-Series'}" class="items-parts">Full
											</div>
											<i class="fa-solid fa-caret-right item-plays"></i>
										</a>
									</div>
									<div class="watchContent__main-movies-films-content">
										<a th:href="@{ /movie/{slug}/{season} (slug=${rm.slug}, season=1) }"
											rel="noopener noreferrer">
											<h4 class="watchContent__main-movies-films-title">
												[[${rm.title}]]</h4>
										</a>
										<span class="watchContent__main-movies-films-desc">
											[[${rm.type.movie_type_name}]] <span
												class="topFilms__items-details-descriptionDot"></span> [[${rm.duration_min}]]
										</span>
										<div class="watchContent__main-movies-films-items">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="block_area-popular ml-4" style="width:25%;float:left;">
				<div class="block_area-header">
					<div class="bah-heading mr-4">
						<h2 class="cat-heading">Most Popular</h2>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="block_area-content">
					<div class="cbox cbox-list cbox-realtime">
						<div class="cbox-content">
							<div class="anif-block-ul">
								<ul class="ulclear">

									<li th:each="p: ${populars}">
										<div class="film-poster">
											<img class="film-poster-img ls-is-cached lazyloaded" th:alt="${p.title}"
												th:src="${p.poster}">
										</div>
										<div class="film-detail">
											<h3 class="film-name"><a href="" th:title="${p.title}"
													class="dynamic-name">[[${p.title}]]</a></h3>
											<div class="fd-infor">
												<span class="fdi-item">[[${p.type.movie_type_name}]]</span>
												<span class="dot"></span>
												<span class="fdi-item">[[${p.rate}]] <i class="fa fa-star"></i></span>

												<span class="dot"></span>
												<span class="fdi-item fdi-duration">[[${p.duration_min}]]</span>

											</div>
										</div>
										<div sec:authorize="isAnonymous()" data-toggle="modal" data-target="#modallogin" class="film-fav"><i class="fa fa-plus"></i>
										</div>
										<div sec:authorize="isAuthenticated()" class="film-fav wl-item" th:attr="data-movieId=${p.id}" data-type="3"><i class="fa fa-plus"></i>
										</div>
										<div class="clearfix"></div>
									</li>

								</ul>
								<div class="clearfix"></div>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>

		</div>


		<script>
			document.querySelector('.eps').setAttribute("style", `height:${document.querySelector('.watch-center').clientHeight - document.querySelector('.list-eps-top').clientHeight}px`);
		</script>
	</main>
</body>

</html>